pip3 install matplotlib
pip3 install numpy
pip3 install scikit-learn
pip3 install scipy
pip3 install torch
pip3 install torchaudio
pip3 install torchvision
pip3 install termcolor
pip3 install h5py
pip3 install os
pip3 install string
pip3 install glob
pip3 install time
pip3 install sys
pip3 install datetime
pip3 install random
pip3 install subprocess
pip3 install threading
pip3 install serial
pip3 install inspect
pip3 install fnmatch
pip3 install numbers
pip3 install math
pip3 install pickle
pip3 install importlib
pip3 install pprint
pip3 install collections
pip3 install copy
pip3 install ipython
pip3 install scikit-learn
pip3 install opencv-python