matplotlib
numpy
scikit-learn
scipy
torch
torchaudio
torchvision
termcolor
h5py
fire
os
string
glob
time
sys
datetime
random
subprocess
threading
serial
inspect
fnmatch
numbers
math
pickle
importlib
pprint
collections
copy
ipython
scikit-learn
opencv-python